


/* RESET
*****************************************************************/
img{
	border: none;
	padding: 0 0;
	margin: 0 0;
	display:block;
}


/* Containers
*****************************************************************/
body{
	background-color:#73c8cd;	
}
body, table{
	color:#505050;
	font-family:Arial, Helvetica, sans-serif;
	margin:0 auto;
	font-size:12px;
}






/* STYLE DU TEXTE
*****************************************************************/
h1{
	margin:0;
	font-size:24px;
	font-weight:normal;
}
h2{
	margin:0;
	color:#a04b96;
	line-height:auto;
	font-size:20px;
}
h3{
	margin:0;
	color:#505050;
	font-weight:normal;
	font-size:16px	
}
h4{
	margin:0;
	font-size:14px;	
}
.lien_mauve{
	color:#a04b96;
	text-decoration:none;
}
.font_size_11{
	font-size:11px;	
}
.line_height_normal{
	line-height:normal;
}

/* TD CUSTOM STYLES
*****************************************************************/
.master_td_premier{
	padding:20px 20px 40px 20px;
	background-color:#73c8cd;
}

table a{
	text-decoration: none;	
}
.arrow{
	display: inline-block;	
}
.liste_infolettre{
	font-size:16px;
	margin-left:26px;
	margin-top:15px;
}
.first_column{
	padding-right:6px;
	padding-top:3px;	
}
.second_column{
	padding-bottom:13px;	
}

.testimonial{
	font-size:14px;
	line-height:20px;	
}

.border_left_testimonial{
	border-left:1px solid #b9babc;	
}
.border_bottom_testimonial{
	border-bottom:1px solid #b9babc;
}

.top_infos{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#fff;
	line-height:20px;
	padding:0px 0 0px 20px;
	text-align:center;
}
.top_underline_link{
	color:#fff;
	font-weight:bold;
	text-decoration:underline !important;
}

.note_bottom{
	font-size:12px;
	line-height:16px;
}
.note_bottom a{
	color: #505050;
	text-decoration: none;
}
.unsubscribe{
	padding:10px 0 0 20px;
	text-align:center;
	line-height:20px;	
	color:#fff;
}

/* GENERIC CLASSES
*****************************************************************/
.align_left{
	text-align:left;	
}
.align_right{
	text-align:right;	
}
.padding_top_15{
	 padding-top:15px;	
}
.padding_bottom_15{
	padding-bottom:15px;	
}
.padding_right_20{
	padding-right:20px;	
}
.padding_left_20{
	padding-left:20px;
}
.padding_33_30_0_30{
	padding:33px 30px 0 30px;	
}
.padding_24_30_18_30{
	padding:24px 30px 18px 30px;	
}
.padding_39_31_25_31{
	padding:39px 31px 25px 31px;	
}
.padding_top_34{
	padding:34px 0 0 0;	
}
.padding_right_6{
	padding-right:6px;	
}
